html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

a  {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.active {
    text-decoration: overline;
    color: blue;
}

.header {
    width:100%;
    background-color:#000;
    color:#fff;
    margin: 0;
}

.pageContainer {
    min-height: 100%;
}

.pageTitle {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.headButton {
    color: white;
    padding: 0px;
    padding-top: 14px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.mainContent {
    background-color: #414242;
    margin: 0px;
    margin-bottom: 20px;
}

.clickMe {
    cursor: pointer;
}

.iGraph {
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.mainContent h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 0px;
}

.mainContent h2 {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0px;
    padding-bottom: 10px;
}


.voteButtonWrap {
    margin: 0 auto;
    width: 220px;
    height: 45px;
}

.voteButtonWrap .register {
    float: left;
}

.voteButtonWrap .logIn {
    float: right;
}

.voteButton {
    width: 100px;
    height: 30px;
    border-style: solid;
    color: white;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    padding-top: 4px;
}

.buttonContainer {
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
}

.navButton {
    text-align: center;
}

.graphStyle {
    font-size: 125px;
    color: #414242;
}

.formContainer {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.formContainer a:hover {
    padding-top: 20px;
    color: blue;
}

.formContainer h2 {
    margin: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 2px solid;
    margin-bottom: 10px;
}

.formSpacer {
    height: 125px;
}

.formContainer h3 {
    margin: 0px auto;
    padding: 0px;
    margin-bottom: 5px;
}

.formContainer button {
    margin: 10px;
}

.footer {
    position: relative;
    margin-top: -100px;
    height: 100px;
    clear: both;
    border-top: 1px solid #1A1A1A;
    text-align: center;
    padding-top: 25px;
    float: bottom;
}

.formContainer a, .formContainer a:hover, .formContainer a:visited {
    color: #1A1A1A;
    text-decoration: none;
}

.loginButton {
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    width: 250px;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
}

.pollCreate {
    text-align: center;
}

.voteOption {
    margin: 0px auto;
    padding-bottom: 5px;
}

.yourPolls {
    padding-bottom: 15px;
    font-size: 25px;
}

.deletePoll {
    position: absolute;
    top: 7px;
    right: 0px;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-right: 25px;
}

.yourPollList {
    width: 150px;
    border: 2px solid;
    margin: auto;
}

.thisOption, .outline {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 7px;
    width: 280px !important;
    margin: auto;
    margin: 2px;
    font-size: 20px;
    border: 1px solid #777777;
}
.thisOption:hover {
    border-color: #FF8300;
    color: #FF8300;
}

.activeOption {
    border-color: #FF8300;
    color: #FF8300;
}

.smallOutline {
    position: relative;
    display: inline-block;
    text-align: left;
    padding: 3px;
    width: 136px !important;
    margin: auto;
    margin: 2px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.moreOptions {
    background-color: #3E66BC;
    border: 1px solid #3E66BC;
}

.submitPoll {
    background-color: #3AD14D;
    border: 1px solid #3AD14D;
}

.moreOptions:hover {
    color: #3E66BC;
    background-color: white;
}

.submitPoll:hover {
    color: #3AD14D;
    background-color: white;
}

.viewResults {
    background-color: #FF8300;
    border: 1px solid #FF8300;
}

.viewResults:hover {
    color: #FF8300;
    background-color: white;
}
