<div class = "formContainer">
    <h2>Create A Poll</h2>
    <form ng-submit = "addPoll()">
        <h3>Question:</h3>
        <input class = "outline" type = "text" placeholder = "Poll Question" ng-model = "question">
        <h3>Answers:</h3>
        <!--<div ng-repeat = "option in pollOptions">
            <input type = "text" placeholder = "Answer" ng-model = "">
        </div>-->
        <input class = "outline" ng-repeat="option in pollOptions track by $index" ng-model="option.option" placeholder = "Answer" required>
        <span style = "text-align: center">
        <div class = "smallOutline moreOptions" ng-click = "addMore()">Add More Options</div>
        <input class = "smallOutline submitPoll" type = "submit" value = "Submit" id = "submitPoll"></span>
        <span style = "color: red">{{error}}</span>
    </form>
</div>
<div class = "formSpacer"></div>